@if(authService.getLocalStorageUser() === null){
<header class="p-2">
  <nav class="flex h-full w-full p-5 rounded-md bg-gray-400">
    <ul class="p-2 w-full flex flex-row gap-2">
      @if(currentPath === '/register'){

      <li>
        <a href="/login">Login</a>
      </li>

      }@else {
      <li>
        <a href="/register">Register</a>
      </li>
      }
    </ul>
  </nav>
</header>
} @if (authService.getLocalStorageUser()) {

<header
  class="flex flex-row gap-2 w-full p-5 justify-between items-center rounded-md bg-gray-400"
>
  <nav>
    <ul class="p-2 w-full flex flex-row gap-2">
      <li>
        <a href="/create/crypto">Create crypto</a>
      </li>
    </ul>
  </nav>
  <div class="flex gap-2 flex-row items-center">
    <div>{{ authService.getLocalStorageUser().userName }}</div>

    <button
      (click)="logout()"
      class="bg-blue-500 p-4 rounded disabled:opacity-50"
    >
      Logout
    </button>
  </div>
</header>

}
<main class="flex flex-grow flex-col p-8"><router-outlet /></main>
